.textContainer{
    -fx-font-size: 21px;
    -fx-min-width: 600px;
    -fx-pref-width: 600px;
    -fx-max-width: 600px;
    -fx-alignment: top-left;
}

#navbarTop{
    -fx-background-color: #e8e8cf;
}

#backButton:hover{
    -fx-cursor: hand;
    -fx-text-fill: #076063;
}
