/* untuk teks judul
 */

.H1{
    -fx-font-size: 40px;
    -fx-font-weight: bold;
}

.h2{
    -fx-font-size: 30px;
    -fx-font-weight: bold;
}
.h3{
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}
.h4{
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.btnGreen{
    -fx-background-radius: 2px;
    -fx-background-color: #18a84b;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.btnBlue{
    -fx-background-radius: 2px;
    -fx-background-color: #0093C4;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.normalTextField{
    -fx-border-color: none;
    -fx-border-width:  0 0 0 0;
}

.editTextField{
    -fx-border-color: black;
    -fx-background-color: none;
    -fx-border-width:  0 0 3 0;
}

.btnRed{
    -fx-background-radius: 2px;
    -fx-background-color: #c53333;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

#formContainer > VBox{
    -fx-spacing: 8px;
    -fx-max-height: Max_Value;
}


StackPane{
    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-padding: 10px;
}

.rounded{
    -fx-background-image: url("../images/ABDUL MUIN KOLAM.jpg");
    -fx-background-radius: 50%;
}

TextArea{
    -fx-background: none;
}
